.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: #32a2ae;
  padding: 25px;
}

.txt {
  align-self: flex-start;
  font-size: 35px;
}

.txt-title {
  font-size: 60px;
  align-self: flex-end;
  color: #5e2bff;
  font-weight: 900;
}

.signup-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 35px 0 35px;
  border: 4px solid #27fb6b;
  border-radius: 25px;
  gap: 10px;
  transition: all 0.5s;
}

.signup-box:hover {
  box-shadow: 2px 0 15px #ffffff;
}

.logo-box {
  background-color: #27fb6b;
  border-radius: 50%;
  padding: 5px;
}

.data-box form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.data-box form input {
  display: block;
  outline: none;
  width: 350px;
  height: 45px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: transparent;
  border: 3px solid #0b5d1e;
  border-radius: 10px;
  margin-bottom: 5px;
}

.data-box form label {
  display: block;
  font-size: 23px;
  font-weight: 500;
}

.signup-btn {
  position: relative;
  width: 100%;
}

.signup-btn button {
  display: block;
  color: #ffffff;
  background-color: #5e2bff;
  font-size: 25px;
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  border: 3px solid #5e2bff;
  border-radius: 10px;
}

.signup-btn button:hover {
  background-color: transparent;
  color: #5e2bff;
}

.alt-txt {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

.alt-txt a {
  text-decoration: underline;
  color: #27fb6b;
}
